@model Web4BDC.Models.WriteBackResultQueryForm 
<div style="width: 80%; margin:auto">
    @using (Html.BeginForm())
    {
        <table width="100%" cellpadding="5">
            <tr>
                <td class="zctab">
                    @Html.LabelFor(model => model.Slbh)：
                    @Html.TextBoxFor(model => model.Slbh) 
                </td>
                <td>
                    @Html.LabelFor(model => model.IsPushSuccess)：
                    @Html.TextBoxFor(model => model.IsPushSuccess)
                </td>
                <td class="zctab">
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="GetData()">获取</a>
                </td>
                <td class="zctab">
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="RePushFail_WB()">失败重推</a>
                </td>
                <td></td>
            </tr> 
        </table>
    }
    <table class="easyui-datagrid" title="回写信息" style=" height:400px" id="FC_SPFHX_TAG">
        @*<thead>
            <tr>
                <th data-options="field:'SLBH'">受理编号</th>
                <th data-options="field:'DJLX'">登记类型</th>
                <th data-options="field:'SFTS'">是否推送成功 0否 1是</th>
                <th data-options="field:'PUSHDATA',editor:{type:'textarea'},width:400">推送的数据</th>
                <th data-options="field:'PUSHDATE',sortable:true">推送时间</th>
                <th data-options="field:'SLBH',formatter: pushDataFormatter">操作</th>
            </tr>
        </thead>*@
    </table> 
</div>
@*<div id="PushListDetialList" class="easyui-window" title="SLBH" style="width:600px;height:400px"
     data-options="iconCls:'icon-save',modal:true">
    <table class="easyui-datagrid" title="回写信息详细列表" style=" height:400px" id="FC_SPFHX_TAG_Detial"> 
    </table> 
</div>*@ 

@section script
{
    <script type="text/javascript">
        $(function () {
            $('#IsPushSuccess').combobox({
                valueField: 'value',
                textField: 'label',
                data: [
                     {
                         label: '未选择',
                         value: ""
                     },{
                    label: '推送失败',
                    value: "0"
                }, {
                    label: '推送成功',
                    value: "1"
                     }, {
                         label: '其他异常',
                         value: "-1"
                     } ]
            });
            $('#FC_SPFHX_TAG').datagrid({
                columns: [[
                    {field:'PID',hidden:true},
                    { field: 'SLBH', title: '受理编号' },
                    { field: 'DJLX', title: '登记类型'  },
                    { field: 'SFTS', title: '是否推送成功 0否 1是' },
                    { field: 'PUSHDATA', title: '推送的数据', width: 200, editor: { type: 'textarea' } },
                    { field: 'PUSHRESULT', title: '推送结果' },
                    { field: 'PUSHDATE', sortable: true, sortname: 'PUSHDATE', sortvalue: 'ASC', title: '推送时间' },
                    { field: 'ADDRESSTYPE', title: '接口类型' },
                    { field: 'ID', title: '重新推送', formatter: pushDataFormatter }
                ]] ,
                singleSelect:true,collapsible:true,method:'post',pagination: true,url: '@Url.Action("WriteBackResult")',rownumbers:true,
                onDblClickCell: function (index, field, value) {
                    var allrows = $(this).datagrid('getRows');
                    var rowCount = allrows.length;
                    for (var i = 0; i < rowCount; i++) {
                        $(this).datagrid('cancelEdit', i);
                    }
                    $(this).datagrid('beginEdit', index);
                    var ed = $(this).datagrid('getEditor', { index: index, field: field });
                    $(ed.target).focus();
                }
            });
        });

        function GetData() {
            @*$.ajax({
                type: 'POST',
                url: '@Url.Action("WriteBackResult")',
                data: queryParam(),
                dataType: 'json',
                success: function (data) {
                    $('#FC_SPFHX_TAG').datagrid('loadData', data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    art.dialog({
                        content: "获取数据异常，异常信息:[" + XMLHttpRequest.responseText + "]"
                    });
                }
            });*@
            $('#FC_SPFHX_TAG').datagrid('load', queryParam());
        }

        function queryParam() {
            var o = {};
            o.IsPushSuccess = $('#IsPushSuccess').combobox('getValue');
            o.Slbh = $('#Slbh').val();
            return o;
        }
        function pushDataFormatter(value, row, index) {
            return "<a slbh='" + row.SLBH + "' SFTS='" + row.SFTS + "' class='RePush' href='#' onclick='javascript:Push(this);'>推送</a>";
        }
        function pushListDataFormatter() {
            return "<a slbh='" + row.SLBH + "' PID='"+row.PID+"' class='RePush' href='#' onclick='javascript:GetPushList(this);'>查看列表</a>";
        }
        function Push(t)
        {
            var th = $(t);
            var slbh = th.attr("slbh");
            var SFTS = th.attr("SFTS");
            var da={};
            da.slbh=slbh;
            art.dialog({
                content: SFTS == 0 ? '数据未推送成功，重新推送？' : '数据已经推送成功，重新推送？',
                ok: function () {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("RePush")',
                        data: da,
                        dataType: 'json',
                        success: function (data) {
                            if (data.PushRet) {
                                art.dialog({
                                    content: "推送成功，查看受理号'" + data.SLBH + "'检查结果"
                                });
                            } else {
                                art.dialog({
                                    content: "推送失败，消息[" + data.Message +"]，查看受理号'" + data.SLBH + "'检查结果"
                                });
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            art.dialog({
                                content: "异常信息:[" + XMLHttpRequest.responseText + "]"
                            });
                        }
                    })
                },
                cancelVal: '关闭',
                cancel: true //为true等价于function(){}
            });
        }
        @*function GetPushList(t) {
            var th = $(t);
            var slbh = th.attr("slbh");
            var pid = th.attr("PID");
            $("#PushListDetialList").window('open');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetPushList")',
                data: { SLBH: slbh, PID: pid },
                datatype: 'json',
                success: function (data) {
                    if (data && data.length > 0) {
                        for (var p in data[0]) {
                            var tableCol={field:}
                        }
                    }
                }
            });
        }*@

        function RePushFail_WB() {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("RePushFail_WB")',
                    dataType: 'json',
                    success: function (data) {
                        if (data) {
                            art.dialog({
                                content: "推送成功"
                            });
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        art.dialog({
                            content: "获取数据异常，异常信息:[" + XMLHttpRequest.responseText + "]"
                        });
                    }
                });

    }



    </script>
}

@section style{
    
    <style type="text/css">
        textarea {
            word-wrap: break-word;
            word-break: break-all;
        }
    </style>
    }